<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js october tuesday hourEven" itemscope itemtype="http://schema.org/Article">
 <!--<![endif]-->
 <head> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>
        10 easy ways to make money in college | Unigo
    </title> 
  <meta name="description" content="10 easy ways to make money in college. An article by Tamara"> 
  <meta name="author" content="Author: Unigo.com"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css"> 
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
  <link rel="icon" href="/favicon.ico" type="image/x-icon"> 
  <script src="/cms/scripts/app.config.js"></script> 
  <script src="https://cdn.optimizely.com/js/6448492354.js"></script> 
  <script src="https://unigoapp.azureedge.net/match/scripts/bundle-browser.min.js?8ac17fc936d36cfdd96cbce006569ac3"></script> 
  <!-- Unigo CSS --> 
  <link rel="stylesheet" href="https://unigoapp.azureedge.net/match/content/css/bundle.min.css?4d066334c447aeefcdf52a760107a433" type="text/css"> 
  <link href="/cms/css/rte.css?v=1" rel="stylesheet" type="text/css"> 
  <link href="/cms/css/unigogrid.css?v=1" rel="stylesheet" type="text/css"> 
  <meta property="fb:app_id" content="176545910247"> 
  <meta itemprop="name" content="10 easy ways to make money in college"> 
  <meta itemprop="description" content="Has your student bank account dried up? Are your parents ignoring your pleas for cash? It might be time to get creative and drum up some money on your own. Luckily, <a href=&quot;http://www.campusdiscovery.com/&quot; target=&quot;_blank&quot; title=&quot;Free College Search&quot;>college campuses</a> are teaming with opportunities, especially for those who are willing to do just about anything for some quick cash. No, I’m not suggesting you do something immoral or illegal, but some of these jobs may get a little dirty. Most are flexible enough to fit into your busy <a href=&quot;https://www.unigo.com/&quot; target=&quot;_blank&quot; title=&quot;College Planning Help&quot;>college</a> schedule and some may even be a little fun. So, if you're looking to earn some green this semester, consider one of these possible money making ventures."> 
  <meta itemprop="image" content="https://unigocms.blob.core.windows.net/media/media/1040/empty2.jpg"> 
  <meta name="twitter:card" content="https://unigocms.blob.core.windows.net/media/media/1040/empty2.jpg"> 
  <meta name="twitter:site" content="Unigo.com"> 
  <meta name="twitter:title" content="10 easy ways to make money in college"> 
  <meta name="twitter:description" content="Has your student bank account dried up? Are your parents ignoring your pleas for cash? It might be time to get creative and drum up some money on your own. Luckily, <a href=&quot;http://www.campusdiscovery.com/&quot; target=&quot;_blank&quot; title=&quot;Free College Search&quot;>college campuses</a> are teaming with opportunities, especially for those who are willing to do just about anything for some quick cash. No, I’m not suggesting you do something immoral or illegal, but some of these jobs may get a little dirty. Most are flexible enough to fit into your busy <a href=&quot;https://www.unigo.com/&quot; target=&quot;_blank&quot; title=&quot;College Planning Help&quot;>college</a> schedule and some may even be a little fun. So, if you're looking to earn some green this semester, consider one of these possible money making ventures."> 
  <meta name=" twitter:creator" content="Unigo.com"> 
  <!-- Twitter summary card with large image must be at least 280x150px --> 
  <meta name="twitter:image:src" content="https://unigocms.blob.core.windows.net/media/media/1040/empty2.jpg"> 
  <meta property="og:title" content="10 easy ways to make money in college"> 
  <meta property="og:type" content="article"> 
  <meta property="og:url" content="https://www.unigo.com/in-college/college-experience/10-easy-ways-to-make-money-in-college"> 
  <meta property="og:image" content="https://unigocms.blob.core.windows.net/media/media/1040/empty2.jpg"> 
  <meta property="og:description" content="Has your student bank account dried up? Are your parents ignoring your pleas for cash? It might be time to get creative and drum up some money on your own. Luckily, <a href=&quot;http://www.campusdiscovery.com/&quot; target=&quot;_blank&quot; title=&quot;Free College Search&quot;>college campuses</a> are teaming with opportunities, especially for those who are willing to do just about anything for some quick cash. No, I’m not suggesting you do something immoral or illegal, but some of these jobs may get a little dirty. Most are flexible enough to fit into your busy <a href=&quot;https://www.unigo.com/&quot; target=&quot;_blank&quot; title=&quot;College Planning Help&quot;>college</a> schedule and some may even be a little fun. So, if you're looking to earn some green this semester, consider one of these possible money making ventures."> 
  <meta property="og:site_name" content="Unigo.com"> 
  <meta property="article:published_time" content="2015-08-17T23:23:32.0000000"> 
  <meta property="article:modified_time" content="2015-08-17T23:23:32.0000000"> 
  <meta property="article:section" content="College Life"> 
  <meta property="article:tag" content="College Life"> 
  <style>
        
    </style> 
 </head> 
 <body class="cms-content cms-article pg-7640"> 
  <script>
    (function(w, d, s, l, i)
    {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-M8KD2G');
</script> 
  <div class="off-canvas-wrap container" data-offcanvas=""> 
   <div class="inner-wrap"> 
    <div id="wrapper"> 
     <nav id="mobileNav"> 
      <div id="newHalo" class="halo formWrap"> 
       <div class="contain-to-grid"> 
        <div class="top-bar" data-topbar="" role="navigation"> 
         <div class="title-area"> 
          <div id="menuIcon" class="left-off-canvas-toggle icon-feather-menu hidden-for-xlarge-up" title="Open Unigo Menu" onclick="Setup.toTop();"> 
          </div> 
          <div id="logo" onclick="location.href='/'"> 
           <span>Unigo</span> 
          </div> 
         </div> 
         <section class="top-bar-section"> 
          <div class="left"> 
           <nav class="top-bar--menu-items  visible-for-xlarge-up"> 
            <ul> 
             <li class="has-dropdown"><a href="https://www.unigo.com/colleges" title="Search for colleges" class="find-your-college">Colleges</a> 
              <ul class="dropdown"> 
               <li><a data-gtm-event="headerNav" href="https://www.unigo.com/colleges" title="Search for colleges">College Search</a></li> 
               <li><a data-gtm-event="headerNav" href="https://live.unigo.com/upcoming_events" title="Participate in live streaming college events">Live Events</a></li> 
               <li><a data-gtm-event="headerNav" href="https://www.unigo.com/admissions-advice" title="Expert Admissions Advice">Expert Admissions Advice</a></li> 
               <li><a data-gtm-event="headerNav" href="https://www.unigo.com/review-a-college" title="Review a college">Review a College</a></li> 
               <li><a data-gtm-event="headerNav" href="https://www.unigo.com/jobs-internships" title="Find a job or internship">Jobs / Internships</a></li> 
              </ul> </li> 
             <li class="has-dropdown"><a href="https://www.unigo.com/scholarships" title="Get matched to scholarships that are perfect for you" class="get-in">Scholarships</a> 
              <ul class="dropdown"> 
               <li><a data-gtm-event="headerNav" href="https://www.unigo.com/scholarships" title="Get matched to scholarships that are perfect for you">Scholarship Search</a></li> 
               <li><a data-gtm-event="headerNav" href="https://www.unigo.com/scholarships/our-scholarships" title="Apply for Unigo's 13 scholarships">Our Scholarships</a></li> 
               <li><a data-gtm-event="headerNav" href="https://www.unigo.com/scholarships/our-scholarships/unigo-10k-scholarship" title="Apply for our $10,000 scholarship">$10K Scholarship</a></li> 
               <li><a data-gtm-event="headerNav" href="https://www.unigo.com/scholarships/our-scholarships/winners" title="Our Scholarship Winners">Scholarship Winners</a></li> 
              </ul> </li> 
             <li><a href="https://www.unigo.com/student-loans/loanfinder" title="Find the right student loan for you" class="pay-for-college">Student Loans</a></li> 
             <li class="has-dropdown"> <a href="https://www.unigo.com/articles" title="Articles" class="get-in">News</a> 
              <ul class="dropdown"> 
               <li><a data-gtm-event="headerNav" href="https://www.unigo.com/get-to-college" title="Get Ready for College">Get Ready for College</a></li> 
               <li><a data-gtm-event="headerNav" href="https://www.unigo.com/pay-for-college" title="How to Pay for College">How to Pay for College</a></li> 
               <li><a data-gtm-event="headerNav" href="https://www.unigo.com/articles" title="Articles">All Articles</a></li> 
              </ul> </li> 
            </ul> 
           </nav> 
          </div> 
          <ul class="rightColumn right"> 
           <!-- search bar --> 
           <li class="searchUnigo  has-dropdown"> <a href="#" class="top-bar__link--icon  icon-search"></a> 
            <ul class="dropdown"> 
             <li> 
              <div class="siteSearch"> 
               <div id="googleSearch" class="google-search"> 
                <gcse:searchbox-only resultsurl="https://www.unigo.com/match/search" enableautocomplete="false" enablehistory="false" autocompletemaxcompletions="10"></gcse:searchbox-only> 
               </div> 
              </div> </li> 
            </ul> </li> 
           <!-- My Unigo Task List --> 
           <li id="myUnigoTasks" class="has-dropdown" ng-controller="notificationsController"> <a href="#" class="myNextTasks__link  top-bar__link--icon  icon-line-clipboard-check"> 
             <div class="notif" style="display:block;"> 
              <span class="notifBadge" style="display: none;" ng-style="NotificationData.ActiveCount > 0 ? {'display': 'inline'} : {'display': 'none'}" ng-bind="NotificationData.ActiveCount"></span> 
             </div> </a> 
            <ul class="myNextTasks dropdown"> 
             <li> 
              <div class="myNextTasks  NotLoggedIn"> 
               <div class="tile myNextTasks__tile"> 
                <h3 class="tile__heading cP">Notifications</h3> 
                <p class="tile__content  tile__content--smalli"><a href="https://www.unigo.com/match/register?redirecturl=https%3a%2f%2fmatchapi.unigo.com%2fmatch%2fforcms%2fmatchheader%3freturnUrl%3dhttps%3a%2f%2fwww.unigo.com%2fin-college%2fcollege-experience%2f10-easy-ways-to-make-money-in-college%26isAuthenticated%3dFalse%26visitorGuid%3d">Sign up </a> or <a href="https://www.unigo.com/match/login?redirecturl=https%3a%2f%2fmatchapi.unigo.com%2fmatch%2fforcms%2fmatchheader%3freturnUrl%3dhttps%3a%2f%2fwww.unigo.com%2fin-college%2fcollege-experience%2f10-easy-ways-to-make-money-in-college%26isAuthenticated%3dFalse%26visitorGuid%3d"> log in</a> to manage your notifications.</p> 
               </div> 
               <ul class="myNextTasks__list" ng-show="NotificationData.ActiveCount > 0"> 
                <li ng-class="'myNextTasks__list-item' + (notification.Status === 2 ? ' task-complete' : '')" ng-repeat="notification in NotificationData.ActiveNotifications"> 
                 <div class="dismissIcon"> 
                  <a class="dismiss" ng-click="DismissNotification(notification,$event);" ng-show="NotificationData.IsAuthenticated" title="Dismiss"> <i class="icon-circle-x"></i> </a> 
                 </div> 
                 <div class="taskIcon"> 
                  <a class="task" data-gtm-event="tasksNav" ng-href="{{notification.Url}}"> <span><i class="icon-arrowb-right"></i></span> {{notification.Description}} </a> 
                 </div> </li> 
               </ul> 
               <div ng-show="NotificationData.ActiveCount == 0" class="yay"> 
                <span><i class="icon icon-linecons-heart"></i></span> Yay! You're all caught up. 
               </div> 
              </div> </li> 
            </ul> </li> 
           <!-- My Unigo Account Links --> 
           <li id="myUnigoIcon" class="top-bar--menu-items  has-dropdown"> <a href="#" class="myAcctIcon  top-bar__link--icon  icon-linecons-user"></a> 
            <ul class="dropdown"> 
             <li><a data-gtm-event="utilityNav" href="https://www.unigo.com/match/register?redirecturl=https%3a%2f%2fwww.unigo.com%2fin-college%2fcollege-experience%2f10-easy-ways-to-make-money-in-college" class="reg-signup">New to Unigo? Sign up!</a></li> 
             <li><a data-gtm-event="utilityNav" href="https://www.unigo.com/match/login?redirecturl=https%3a%2f%2fwww.unigo.com%2fin-college%2fcollege-experience%2f10-easy-ways-to-make-money-in-college" class="reg-login">Log in</a></li> 
             <li class="divider"></li> 
             <li><a data-gtm-event="accountNav" href="https://www.unigo.com/myunigo" title="My Unigo">My Unigo</a></li> 
             <li><a data-gtm-event="accountNav" href="https://www.unigo.com/match/scholarshipresult/?source=scholarship/match" title="Free Scholarship Matching">My Scholarships</a></li> 
             <li><a data-gtm-event="accountNav" href="https://www.unigo.com/college-match" title="Get matched to colleges">My Colleges</a></li> 
             <li><a data-gtm-event="accountNav" href="https://www.unigo.com/match/my-account" title="My Account Settings">My Account</a></li> 
            </ul> </li> 
          </ul> 
         </section> 
        </div> 
       </div> 
      </div> 
     </nav> 
     <aside class="left-off-canvas-menu"> 
      <section id="shelfNavigation"> 
       <header></header> 
       <ul> 
        <li class="off-canvas-list unigo-home"> <a data-gtm-event="headerNav" href="https://www.unigo.com" title="Unigo home page">UNIGO Home</a> </li> 
        <li class="off-canvas-list scholarships highlight"> <a data-gtm-event="headerNav" href="https://www.unigo.com/scholarships" title="Get matched to scholarships that are perfect for you">Scholarships</a> </li> 
        <li class="off-canvas-list colleges highlight"> <a data-gtm-event="headerNav" href="https://www.unigo.com/colleges" title="Search for colleges">Colleges</a> </li> 
        <li class="off-canvas-list student-loan-finder highlight"> <a data-gtm-event="headerNav" href="https://www.unigo.com/student-loans/loanfinder" title="Find the right student loan for you">Student Loan Finder</a> </li> 
        <li class="off-canvas-list review-college highlight"> <a data-gtm-event="headerNav" href="https://www.unigo.com/review-a-college" title="Review a college">Review a College</a> </li> 
        <li class="off-canvas-list "> <a data-gtm-event="headerNav" href="https://www.unigo.com/articles" title="Articles">All Articles</a> </li> 
        <li class="off-canvas-list"> <a data-gtm-event="headerNav" href="https://live.unigo.com/upcoming_events" title="Participate in live streaming college events">Live Events</a> </li> 
        <li class="off-canvas-list"> <a data-gtm-event="headerNav" href="https://www.unigo.com/jobs-internships" title="Find a job or internship">Jobs / Internships</a> </li> 
        <li class="off-canvas-list"> <a data-gtm-event="headerNav" href="https://www.unigo.com/scholarships/our-scholarships" title="Apply for Unigo's 13 scholarships">Our Scholarships</a> </li> 
        <li class="off-canvas-list"> <a data-gtm-event="headerNav" href="https://www.unigo.com/scholarships/our-scholarships/unigo-10k-scholarship" title="Apply for our $10,000 scholarship">$10K Scholarship</a> </li> 
       </ul> 
      </section> 
     </aside> 
     <!-- close the off-canvas menu --> 
     <a class="exit-off-canvas" href="#"></a> 
     <div id="take"> 
      <div class="adSpace leaderboard FixThis"> 
       <div class="adunit" data-adunit="unigo_incollege" data-dimensions="970x90, 728x90" data-targeting="" data-size-mapping="default"> 
       </div> 
      </div> 
     </div> 
     <div class="row"> 
      <ul class="breadcrumbs" role="menubar" aria-label="breadcrumbs"> 
       <li role="menuitem"> <a href="/"> <span>Home</span> </a> </li> 
       <li role="menuitem"> <a href="/in-college"> In College </a> </li> 
       <li role="menuitem"> <a href="/in-college/college-experience"> College Experience </a> </li> 
       <li role="menuitem" class="current">10 easy ways to make money in college</li> 
      </ul> 
      <br> 
     </div> 
     <div class="article-page"> 
      <div class="row"> 
       <section id="articleBody" class="small-12 medium-7 columns"> 
        <div class="row collapse"> 
         <div class="small-12 columns"> 
          <div class="row collapse"> 
           <h1 class="title"> 10 easy ways to make money in college </h1> 
          </div> 
          <div class="row collapse"> 
           <div id="articlePre" class="small-12"> 
            <div class="row collapse"> 
             <div class="small-12 medium-6 large-8 columns"> 
              <p class="subtitle"> </p>
              <div id="authorInfo">
                By Tamara 
              </div> 
              <div id="publishInfo">
                05/29/2015 
              </div> 
             </div> 
             <div id="articlePreAside" class="small-12 medium-6 large-4 columns"> 
              <div class="addunit sponsorButton"> 
               <div class="adunit right" data-adunit="unigo_incollege" data-dimensions="160x50"></div> 
              </div> 
              <div class="socialButtons"></div> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="row collapse"> 
           <div class="small-12 featuredImage"> 
            <noscript data-slimmage="true" data-img-src="/cms/remote.axd/unigocms.blob.core.windows.net/media/media/1040/empty2.jpg?anchor=center&amp;mode=crop&amp;width=900&amp;heightratio=0.5&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=130766975380000000">
             <img src="/cms/remote.axd/unigocms.blob.core.windows.net/media/media/1040/empty2.jpg?anchor=center&amp;mode=crop&amp;width=900&amp;heightratio=0.5&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=130766975380000000">
            </noscript> 
           </div> 
           <article class="small-12 articleContent"> 
            <div class="socialColumn"> 
             <h6>Share</h6> 
             <script type="text/javascript">
        var addthis_share = {
            url: window.location.href,
            title: '10 easy ways to make money in college',
            description:'10 easy ways to make money in college'
        }
    </script> 
             <div class="addthis_sharing_toolbox"></div> 
            </div> 
            <p>Has your student bank account dried up? Are your parents ignoring your pleas for cash? It might be time to get creative and drum up some money on your own. Luckily, <a href="http://www.campusdiscovery.com/" target="_blank" title="Free College Search">college campuses</a> are teaming with opportunities, especially for those who are willing to do just about anything for some quick cash. No, I’m not suggesting you do something immoral or illegal, but some of these jobs may get a little dirty. Most are flexible enough to fit into your busy <a href="https://www.unigo.com/" target="_blank" title="College Planning Help">college</a> schedule and some may even be a little fun. So, if you're looking to earn some green this semester, consider one of these possible money making ventures.</p> 
            <!--more--> 
            <h3>1. Photography</h3> 
            <p>If you have a good digital camera and love to take pictures, consider hiring yourself out for events and parties. Another option is to sell your shots online through some of the stock photography websites, such as <a href="http://www.dreamstime.com/" target="_blank" title="Dreamstime.com">Dreamstime.com</a> and <a href="http://www.shutterstock.com/" target="_blank" title="Shutterstock.com">Shutterstock.com</a>.</p> 
            <h3>2. Donate Plasma</h3> 
            <p>If you are really strapped for time or only need a small amount of spending money, consider stopping by the local blood bank and making a donation. Some <a href="http://www.donatingplasma.org/donation/find-a-donor-center" target="_blank" title="Find a Blood Bank">agencies</a> pay as much as $35 per pint, but you can only donate twice a week and must wait at minimum of two days between donations.</p> 
            <h3>3. Tutor</h3> 
            <p>If you are proficient in any specific subject area, consider offering your services to other students. Most student tutors can earn between $20 and $40 an hour, depending on the difficulty of the material. If you are an English major, there’s also money to be made editing papers. You can use the library, coffee house or another location on campus to host your sessions.</p> 
            <h3><img style="width: 181px; height: 249px; margin-right: 1.5em; float: left; display: inline;" src="https://unigocms.blob.core.windows.net/blog/se/uploads/notes.jpg" alt="Note Taker" title="Note Taker">4. Note Taker</h3> 
            <p>Most college campuses employ students to be note takers for students who require assistance or have a <a href="http://www.wisechoice.com/blog/disability-accommodations-at-college-know-your-rights-1945" target="_blank" title="Know Your Disability Rights at College">disability</a>. You have to attend class anyway, so why not get paid to be there? Plus, you can feel good about helping another student.</p> 
            <h3>5. Research Subject</h3> 
            <p>Many college campuses host <a href="http://www.psych.nyu.edu/research/paidstudies.html" target="_blank" title="Paid Research Opportunities">research studies</a> that include live test subjects. Although some may be of the four-legged variety, many are human. You can earn, $10, $30, $60 and more, depending on the time required.</p> 
            <h3><img style="width: 249px; height: 185px; margin-left: 1.5em; float: right; display: inline;" src="https://unigocms.blob.core.windows.net/blog/se/uploads/call-me.jpg" alt="Call Me" title="Call Me">6. Food Delivery</h3> 
            <p>You can make a pretty good income delivering food to other students on campus, especially if you have a reliable vehicle. Create a handy delivery menu, including fees for the items and the delivery service, and pass them around campus. During exams, you can make a killing during those late-night study sessions. Just be sure to get cash up front from your customers.</p> 
            <h3>7. Mani/Pedi Service</h3> 
            <p>Do you get compliments on your nails all the time? Why not help others by offering your services for a small fee. Place fliers in the gym locker room, near <a href="http://www.campusdiscovery.com/campus-life/view/debunking-college-greek-life-movie-edition" target="_blank" title="Debunking Greek Life">sorority</a> houses and in the dorms. Even at $10 a session, you can earn quite a bit of green and make some new friends, too.</p> 
            <h3><img style="width: 213px; height: 251px; margin-right: 1.5em; float: left; display: inline;" src="https://unigocms.blob.core.windows.net/blog/se/uploads/laundry.jpg" alt="Laundry" title="Laundry">8. Laundry Service</h3> 
            <p>Most of my friends hated doing laundry in college. For a small fee, usually $5 or $10 a load, I would wash and fold their clothes for them. It was easy money and I could spend the time studying while making some extra cash.</p> 
            <h3>9. Cleaning Service</h3> 
            <p>Clothes aren’t the only thing <a href="http://www.wisechoice.com/college-matching/search-for-colleges" target="_blank" title="College Matching Tool">college</a> students hate to clean; many are also averse to dusting, vacuuming and cleaning the bathroom. Offer to provide weekly or bi-weekly services to others in your dorm, or hit up some of the fraternity and sorority houses on your campus. You might not meet the man of your dreams, but you’ll make a decent living at it.</p> 
            <h3>10. T-Shirts Sales</h3> 
            <p>T-shirts abound on college campuses. Grab a funny catch phrase or inside joke and slap it on a shirt. Head over to websites like <a href="http://www.cafepress.com/" target="_blank" title="Cafepress.com">CafePress.com</a> or <a href="http://www.zazzle.com/" target="_blank" title="Zazzle.com">Zazzle.com</a>, upload your design and start selling. Use your connections on Facebook, <a href="https://twitter.com/scholarshipguru" target="_blank" title="Scholarships on Twitter">Twitter</a> and <a href="http://www.pinterest.com/scholarshipguru" target="_blank" title="Scholarships on Pinterest">Pinterest</a> to find new customers and generate more sales.</p> 
            <p>If you don’t have the time for a full-time position, or you only want to make <a href="https://www.unigo.com/scholarships" target="_blank" title="Free Money for College">money</a> when you need it, many of these side jobs will do the trick. Most provide the flexibility you need to work around your classes and <a href="http://www.campusdiscovery.com/campus-life/view/the-best-places-to-study-on-campus" target="_blank" title="Best Places to Study on Campus">study sessions</a>, and the best part is that you will be your own boss. These jobs don't require a silly uniform and you won't have to come up with excuses for being late to work; you set the prices and your hours of availability. Just be sure that your activities do not break any campus policies and you stay focused on your <a href="https://www.unigo.com/" target="_blank" title="College Planning Tool">college</a> work. Otherwise, one of these may become your permanent career!</p> 
           </article> 
           <div class="small-12 articleFooter"> 
           </div> 
           <div class="small-12"> 
            <div class="adunit" data-adunit="unigo.com_articlebottom" data-dimensions="600x250,300x250" data-size-mapping="eddyInternal" data-targeting="{&quot;article_title&quot;:&quot;10 easy ways to make money in college&quot;}"> 
            </div> 
           </div> 
           <div class="comments small-12"> 
            <div class="row row margin-top-20"> 
             <div class="small-12 columns"> 
              <h3> Discussion </h3> 
              <div id="fb-root"></div> 
              <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id))
                            return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=176545910247";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script> 
              <div class="fb-comments" data-href="https://www.unigo.com/in-college/college-experience/10-easy-ways-to-make-money-in-college" data-numposts="5" data-colorscheme="light" data-version="v2.3"></div> 
             </div> 
            </div> 
           </div> 
           <div class="small-12"> 
            <div class="row"> 
             <div class="small-12 columns"> 
              <h4>You might also like</h4> 
              <ul class="medium-block-grid-1"> 
               <li> 
                <div class="medium-3 columns"> 
                 <div> 
                  <a href="/in-college/college-experience/quick-ways-to-earn-christmas-cash" title="Quick Ways to Earn Christmas Cash"> 
                   <noscript data-slimmage="true" data-img-src="/cms/remote.axd/unigocms.blob.core.windows.net/media/media/1194/holiday-cash1.jpg?anchor=center&amp;mode=crop&amp;width=144&amp;heightratio=0.6666666666666666666666666667&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=130766975570000000">
                    <img src="/cms/remote.axd/unigocms.blob.core.windows.net/media/media/1194/holiday-cash1.jpg?anchor=center&amp;mode=crop&amp;width=144&amp;heightratio=0.6666666666666666666666666667&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=130766975570000000">
                   </noscript> </a> 
                 </div> 
                </div> 
                <div class="medium-9 columns"> 
                 <a href="/in-college/college-experience/quick-ways-to-earn-christmas-cash" title="Quick Ways to Earn Christmas Cash">Quick Ways to Earn Christmas Cash</a> 
                </div> </li> 
               <li> 
                <div class="medium-3 columns"> 
                 <div> 
                  <a href="/in-college/college-experience/creative-ways-to-fund-a-study-abroad-experience" title="Creative Ways to Fund a Study Abroad Experience"> 
                   <noscript data-slimmage="true" data-img-src="/cms/remote.axd/unigocms.blob.core.windows.net/media/media/1155/study-abroad-scholarships.jpg?anchor=center&amp;mode=crop&amp;width=144&amp;heightratio=0.6666666666666666666666666667&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=130766975500000000">
                    <img src="/cms/remote.axd/unigocms.blob.core.windows.net/media/media/1155/study-abroad-scholarships.jpg?anchor=center&amp;mode=crop&amp;width=144&amp;heightratio=0.6666666666666666666666666667&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=130766975500000000">
                   </noscript> </a> 
                 </div> 
                </div> 
                <div class="medium-9 columns"> 
                 <a href="/in-college/college-experience/creative-ways-to-fund-a-study-abroad-experience" title="Creative Ways to Fund a Study Abroad Experience">Creative Ways to Fund a Study Abroad Experience</a> 
                </div> </li> 
               <li> 
                <div class="medium-3 columns"> 
                 <div> 
                  <a href="/in-college/college-experience/4-new-year-s-scholarship-resolutions" title="4 New Year’s Scholarship Resolutions"> 
                   <noscript data-slimmage="true" data-img-src="/cms/remote.axd/unigocms.blob.core.windows.net/media/media/1201/scholarship-resolutions.jpg?anchor=center&amp;mode=crop&amp;width=144&amp;heightratio=0.6666666666666666666666666667&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=130766975580000000">
                    <img src="/cms/remote.axd/unigocms.blob.core.windows.net/media/media/1201/scholarship-resolutions.jpg?anchor=center&amp;mode=crop&amp;width=144&amp;heightratio=0.6666666666666666666666666667&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=130766975580000000">
                   </noscript> </a> 
                 </div> 
                </div> 
                <div class="medium-9 columns"> 
                 <a href="/in-college/college-experience/4-new-year-s-scholarship-resolutions" title="4 New Year’s Scholarship Resolutions">4 New Year’s Scholarship Resolutions</a> 
                </div> </li> 
              </ul> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </section> 
       <aside class="small-12 medium-4 medium-offset-1 columns"> 
        <div class="adunit" data-adunit="unigo_incollege" data-dimensions="300x250"></div> 
        <div class="margin-bottom-20"></div> 
        <div class="adunit" data-adunit="unigo_incollege" data-dimensions="300x600"></div> 
        <div id="browseScholarships"> 
         <h4>Browse Scholarships</h4> 
         <ul> 
          <li> <a href="/scholarships/athletic">Athletic Scholarships</a> </li> 
          <li> <a href="/scholarships/college-specific">College-Specific Scholarships</a> </li> 
          <li> <a href="/scholarships/company-sponsored">Company-Sponsored Scholarships</a> </li> 
          <li> <a href="/scholarships/full-list-of-scholarships-and-grants">Full List of Scholarships and Grants</a> </li> 
          <li> <a href="/scholarships/merit-based">Merit-Based Scholarships</a> </li> 
          <li> <a href="/scholarships/minority">Minority Scholarships</a> </li> 
          <li> <a href="/scholarships" class="viewmore">View More</a> </li> 
         </ul> 
        </div> 
        <h4>More from College Experience</h4> 
        <ul class="sideFeedList"> 
         <li> <a href="/in-college/college-experience/8-more-tips-to-help-you-choose-a-major" title="8 more tips to help you choose a major" class="sideFeedThumb">
           <noscript data-slimmage="true" data-img-src="/cms/remote.axd/unigocms.blob.core.windows.net/media/2893/what-major-should-i-choose.jpg?center=0.033333333333333333,0.5052854122621564&amp;mode=crop&amp;width=350&amp;heightratio=0.7142857142857142857142857143&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=131281156730000000">
            <img src="/cms/remote.axd/unigocms.blob.core.windows.net/media/2893/what-major-should-i-choose.jpg?center=0.033333333333333333,0.5052854122621564&amp;mode=crop&amp;width=350&amp;heightratio=0.7142857142857142857142857143&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=131281156730000000">
           </noscript></a> <p><a href="/in-college/college-experience/8-more-tips-to-help-you-choose-a-major" title="8 more tips to help you choose a major">8 more tips to help you choose a major</a></p> </li> 
         <li> <a href="/in-college/college-experience/community-college-vs-university-my-experience" title="Community college vs. university — my experience" class="sideFeedThumb">
           <noscript data-slimmage="true" data-img-src="/cms/remote.axd/unigocms.blob.core.windows.net/media/2863/community-college-vs-university.jpg?anchor=center&amp;mode=crop&amp;width=350&amp;heightratio=0.7142857142857142857142857143&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=131255443370000000">
            <img src="/cms/remote.axd/unigocms.blob.core.windows.net/media/2863/community-college-vs-university.jpg?anchor=center&amp;mode=crop&amp;width=350&amp;heightratio=0.7142857142857142857142857143&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=131255443370000000">
           </noscript></a> <p><a href="/in-college/college-experience/community-college-vs-university-my-experience" title="Community college vs. university — my experience">Community college vs. university — my experience</a></p> </li> 
         <li> <a href="/in-college/college-experience/beyond-study-abroad-intern-volunteer-or-learn-a-new-language-anywhere-in-the-world" title="Beyond study abroad: intern, volunteer, or learn a new language anywhere in the world" class="sideFeedThumb">
           <noscript data-slimmage="true" data-img-src="/cms/remote.axd/unigocms.blob.core.windows.net/media/2721/bigstock-139795004-copy.jpg?anchor=center&amp;mode=crop&amp;width=350&amp;heightratio=0.7142857142857142857142857143&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=131147350680000000">
            <img src="/cms/remote.axd/unigocms.blob.core.windows.net/media/2721/bigstock-139795004-copy.jpg?anchor=center&amp;mode=crop&amp;width=350&amp;heightratio=0.7142857142857142857142857143&amp;format=jpg&amp;slimmage=true&amp;quality=&amp;rnd=131147350680000000">
           </noscript></a> <p><a href="/in-college/college-experience/beyond-study-abroad-intern-volunteer-or-learn-a-new-language-anywhere-in-the-world" title="Beyond study abroad: intern, volunteer, or learn a new language anywhere in the world">Beyond study abroad: intern, volunteer, or learn a new language anywhere in the world</a></p> </li> 
        </ul> 
        <div class="clearfix"></div> 
        <div> 
         <a href="/in-college/college-experience">View More</a> 
        </div> 
       </aside> 
      </div> 
     </div> 
    </div> 
    <!-- wrapper --> 
   </div> 
   <!-- inner wrap --> 
  </div> 
  <!-- off canvas wrapping --> 
  <footer class="footerWrap"> 
   <div class="small-12 xlarge-11 xlarge-offset-1"> 
    <ul class="footer-container small-block-grid-1 medium-block-grid-2 large-block-grid-4"> 
     <li class="footer-panel one"> 
      <ul class="footer-section"> 
       <li class="footer-section-item"> 
        <div class="footer-logo"></div> </li> 
       <li class="footer-section-item">© 2017 ALL RIGHTS RESERVED</li> 
      </ul> </li> 
     <li class="footer-panel two"> <h5>Resources</h5> 
      <ul class="footer-section"> 
       <li class="footer-section-item"> <a data-gtm-event="footerNav" href="https://www.unigo.com/aboutus/add-a-scholarship-to-unigo">Add a Scholarship</a> </li> 
       <li class="footer-section-item"> <a data-gtm-event="footerNav" href="https://www.unigo.com/claim-your-school">College Administrators</a> </li> 
       <li class="footer-section-item"> <a data-gtm-event="footerNav" href="https://www.unigo.com/m/counselors">High School Counselors</a> </li> 
      </ul> </li> 
     <li class="footer-panel three"> <h5>Company</h5> 
      <ul class="footer-section"> 
       <li class="footer-section-item"> <a data-gtm-event="footerNav" href="https://www.unigo.com/aboutus/privacy">Privacy Policy</a> </li> 
       <li class="footer-section-item"> <a data-gtm-event="footerNav" href="https://www.unigo.com/aboutus/terms">Terms of Use</a> </li> 
       <li class="footer-section-item"> <a data-gtm-event="footerNav" href="https://www.unigo.com/aboutus/contact">Contact Us</a> </li> 
       <li class="footer-section-item"> <a data-gtm-event="footerNav" href="https://www.unigo.com/aboutus">About Us</a> </li> 
      </ul> </li> 
     <li class="footer-panel four"> <h5>Social</h5> 
      <ul class="footer-section"> 
       <li class="footer-section-item"> <a href="https://www.facebook.com/myunigo" target="_blank" data-gtm-event="socialFollowUs" data-gtm-info="facebook">Facebook</a> </li> 
       <li class="footer-section-item"> <a href="https://twitter.com/unigo" target="_blank" data-gtm-event="socialFollowUs" data-gtm-info="twitter">Twitter</a> </li> 
       <li class="footer-section-item"> <a href="https://instagram.com/myunigo" target="_blank" data-gtm-event="socialFollowUs" data-gtm-info="instagram">Instagram</a> </li> 
      </ul> </li> 
    </ul> 
   </div> 
  </footer> 
  <div id="MS_AfterFooter" class="dfp-Ad"> 
  </div> 
  <!-- END LAYOUT --> 
  <script src="https://unigoapp.azureedge.net/match/scripts/bundle.min.js?13afdabc60ecd5b8e5a95a841c2f9688"></script> 
  <script src="/signalr/hubs"></script> 
  <div id="fromScholarshipExperts" class="reveal-modal x-large unigoRedirect" data-reveal="" aria-labelledby="modalTitle" aria-hidden="true" role="dialog"> 
   <div class="modalContent"> 
    <div class="row small-12 columns" style="margin-bottom: 1rem;"> 
     <div class="sebrand"></div> 
     <div class="heart-brand">
      &nbsp; &lt;3 &nbsp;
     </div> 
     <div class="unbrand"></div> 
    </div> 
    <div class="row medium-8 medium-offset-2"> 
     <p class="lead">So we made it official and moved in together!</p> 
     <p>In addition to scholarships, you now have access to colleges, internships, careers, and a whole lot more — all with your same login. <br> Welcome to Unigo. Go. Find. You.</p> 
     <p><a href="/aboutus/scholarshipexperts-3-unigo" target="_blank">Learn More</a></p> 
    </div> 
   </div> 
   <a class="close-reveal-modal" aria-label="Close">×</a> 
  </div> 
  <div id="fromCampusDiscovery" class="reveal-modal x-large unigoRedirect" data-reveal="" aria-labelledby="modalTitle" aria-hidden="true" role="dialog"> 
   <div class="modalContent"> 
    <div class="row small-12 columns" style="margin-bottom: 1rem;"> 
     <div class="cdbrand"></div> 
     <div class="heart-brand">
       &lt;3 &nbsp; 
     </div> 
     <div class="unbrand"></div> 
    </div> 
    <div class="row medium-8 medium-offset-2"> 
     <p class="lead">So we made it official and moved in together!</p> 
     <p>In addition to scholarships, you now have access to colleges, internships, careers, and a whole lot more — all with your same login. <br> Welcome to Unigo. Go. Find. You.</p> 
    </div> 
   </div> 
   <a class="close-reveal-modal" aria-label="Close">×</a> 
  </div> 
  <div id="fromPlusU" class="reveal-modal x-large unigoRedirect" data-reveal="" aria-labelledby="modalTitle" aria-hidden="true" role="dialog"> 
   <div class="modalContent"> 
    <div class="row small-12 columns" style="margin-bottom: 1rem;"> 
     <div class="pubrand">
      Plus-U.com
     </div> 
     <div class="heart-brand">
       &nbsp; &lt;3 &nbsp; 
     </div> 
     <div class="unbrand"></div> 
    </div> 
    <div class="row medium-8 medium-offset-2"> 
     <p class="lead">So we made it official and moved in together!</p> 
     <p>We want you to have the best college experience, so Plus-U moved in with Unigo. You're now part of the most extensive college network on the planet, with incredible resources to help you at every step of your journey.</p> 
    </div> 
   </div> 
   <a class="close-reveal-modal" aria-label="Close">×</a> 
  </div> 
  <!-- start: Java Script --> 
  <script type="text/javascript">
    document.apiBase = 'https://www.unigo.com/';

    var eventLogger = new EventLogger();
    eventLogger.setEvent('dataLayerHeaderDone');
    eventLogger.setUserID('00000000-0000-0000-0000-000000000000,');
    var googleTagManagerEvents = {"CreatedDate":"","GroupName":"","RollupName":"","HasData":false};
    eventLogger.setCreateDate(googleTagManagerEvents.CreatedDate);
    eventLogger.setGroupName(googleTagManagerEvents.GroupName);
    eventLogger.setRollupGroup(googleTagManagerEvents.RollupName);
    eventLogger.setHttpResponseCode('200');
    eventLogger.setEnvironmentIdentifier('production');

    function scriptsOnLoad()
    {
        Url.base = 'https://www.unigo.com/cms/';
        Url.unigoBase = 'https://www.unigo.com/';
        ;
    }

    scriptsOnLoad();

    //Any additional eventLogger key/value pairs must be set PRIOR TO the (window).load event. See Eric for questions.
    $(window).load(function() {
        eventLogger.log();
        eventLogger.clearLog();
        Setup.Dfp();
        Setup.Sticky();
        Setup.RedirectModals();
    });

    //fix large blank space on ios and safari
    $(document).foundation({
        reveal : {
            animation : 'fade',
            root_element : ''
        }
    });
</script> 
  <script src="/cms/scripts/app/cms.helper.js"></script> 
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-502410b700b9a544" async></script> 
  <script type="text/javascript">
            var openModal = $('a.ctaReveal');
            $(openModal).on('click', function() {
                var packageURL = $(this).data("url");
                var packageURLElse = packageURL.replace("payment", "paymentforsomeoneelse");
                $('#choosePay.reveal-modal .choosePayMe').attr('href', packageURL);
                $('#choosePay.reveal-modal .choosePayElse').attr('href', packageURLElse);
            });
        </script> 
  <script type="text/javascript">
    $(function() {
        angular.bootstrap($("#newHalo"), ["matchApp"]);
    });
</script>   
 </body>
</html>